package com.sccl.YbZ.springboot.biz.${tableName}.dao.impl;


import com.sccl.YbZ.springboot.common.BaseDaoImpl;
import org.springframework.stereotype.Repository;
import com.sccl.YbZ.springboot.biz.${tableName}.model.${entity};
import com.sccl.YbZ.springboot.biz.${tableName}.dao.${daoName};

/**
* ${daoName}实现
* Created by ${author} on ${date}.
*/
@Repository
public class ${daoName}Impl extends BaseDaoImpl<${entity},${PK}> implements ${daoName}{
}