package com.sccl.YbZ.springboot.dao.impl;


import com.sccl.YbZ.springboot.common.BaseDaoImpl;
import com.sccl.YbZ.springboot.model.entity.${entity};
import com.sccl.YbZ.springboot.dao.${daoName};
import org.springframework.stereotype.Repository;

/**
* ${daoName}实现
* Created by ${author} on ${date}.
*/
@Repository
public class ${daoName}Impl extends BaseDaoImpl<${entity},${PK}> implements ${daoName}{
}