package com.sccl.YbZ.springboot.biz.${tableName}.dao;

import com.sccl.YbZ.springboot.common.BaseDao;
import com.sccl.YbZ.springboot.biz.${tableName}.model.${entity};

/**
* ${daoName}
* Created by ${author} on ${date}.
*/
public interface ${daoName} extends BaseDao<${entity},${PK}>{
}