package com.taobao.yugong.translator;

import com.taobao.yugong.common.model.record.Record;

/**
* ${tableName}表
* Created by zyb on ${date}.
*/

public class ${className}DataTranslator  extends AbstractDataTranslator {

    @Override
    public boolean translator(Record record) {
        //删除多余字段
        String removeColumns = "OPTLOCK";
        super.removeColumns(record, removeColumns);

        #if(${isChangeTableName})
        //修改表名
        record.setTableName("${midTableName}");
        #end

        //添加create、update、delete字段
        super.addCommonColumn(record);
        return super.translator(record);
    }
}