package com.sccl.YbZ.springboot.service;

import com.sccl.YbZ.springboot.common.EntityManager;
import com.sccl.YbZ.springboot.model.entity.${entity};
import org.springframework.stereotype.Service;

/**
* ${serviceName}
* Created by ${author} on ${date}.
*/
@Service("${annotationName}")
public class ${serviceName} extends EntityManager<${entity},${PK}> {
}