package com.sccl.YbZ.springboot.biz.${tableName}.service;

import com.sccl.YbZ.springboot.common.EntityManager;
import org.springframework.stereotype.Service;
import com.sccl.YbZ.springboot.biz.${tableName}.model.${entity};

/**
* ${serviceName}
* Created by ${author} on ${date}.
*/
@Service("${annotationName}")
public class ${serviceName} extends EntityManager<${entity},${PK}> {
}